.lead__subtitle {
    color: #ffffff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    margin-block: 0;
    padding-bottom: 64px;
    max-width: 640px;
    max-height: 72px;
}

@media (max-width: 1024px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
} 

@media (max-width: 640px) {
    .lead__subtitle {
        max-width: 80%;
        font-size: 25px;
    }
} 

@media (max-width: 320px) {
    .lead__subtitle {
        font-size: 1rem;
        line-height: 1.25;
        padding-bottom: 40px;
    }
} 