.place__website {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 456px; 
}

@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
} 

@media (max-width: 640px) {
    .place__website {
        padding-left: 16px;
    }
} 

@media (max-width: 512px) {
    .place__website {
        max-width: 288px;
    }
} 

