.place__website {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 48px;
    padding-top: 106px;
    max-width: 456px;
}

@media (max-width: 768px) {
    .place__website {
        padding-top: 46px;
        max-width: 352px;
    }
} 

@media (max-width: 512px) {
    .place__website {
        padding-top: 0;
    }
} 

@media (max-width: 320px) {
    .place__website {
        padding: 32px 16px;
        max-width: 288px;
    }
} 